.align-right {
    text-align: right;
}

#graficos {
    background-color: #fff;
    display: block;
    height: 100%;
}

#modal {
    height: 400px;
    width: 700px;
    position: absolute;
    background-color: #0009;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    align-content: center;
    display: flex;
}

#container {
    position: relative;
    background-color: #fff;
    margin: auto;
    border-radius: 20px;
    padding: 30px;
}

#container > * {
    margin: 10px 0px;
}