body {
  background-color: var(--dark);
}

#root {
  max-width: 900px;
  margin: 0px auto;
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 30px;
}

.header .jumbotron {
  background-color: var(--primary);
  color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

a:hover {
  text-decoration: none;
}